.parameters {
  padding: 100px 0;
  background-image: url('../img/parameters-bg.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;

  @include tablet {
    padding: 50px 0;
  }

  @include mobile {
    padding: 20px 0;
  }

  &__container {
    position: relative;
    text-align: center;
  }

  &__title {
    font-size: 42px;
    font-weight: bold;
    margin: 0;
    margin-bottom: 24px;

    @include mobile {
      font-size: 30px;
    }
  }

  &__desc {
    font-size: 30px;
    color: $color-gray;
    font-weight: bold;
    line-height: 1;

    @include mobile {
      font-size: 20px;
    }
  }

  &__scheme {
    position: relative;
    display: inline-block;
    padding: 120px 0;

    @include tablet {
      transform: scale(.7);
    }

    @include mobile {
      transform: none;
      padding: 80px 0;
    }
  }

  &__scheme-parameter {
    position: absolute;

    $this: &;

    &-line {
      max-width: none;

      @include mobile {
        width: 100%;
      }
    }

    &-text {
      position: absolute;
      font-weight: bold;
      white-space: nowrap;

      @include mobile {
        font-size: 12px;
        white-space: normal;
      }
    }

    &:nth-of-type(1) {
      top: 90px;
      left: 42px;

      @include mobile {
        top: 50px;
      }

      #{$this}-text {
        bottom: calc(100% + 5px);
        right: 0;
        transform: translateX(50%);

        @include mobile {
          transform: none;
        }
      }
    }

    &:nth-of-type(2) {
      top: 215px;
      left: 52%;

      @include mobile {
        top: 135px;
      }

      #{$this}-text {
        bottom: calc(100% + 5px);
        right: 0;
        transform: translateX(50%);

        @include mobile {
          transform: translateX(15%);
        }
      }
    }

    &:nth-of-type(3) {
      top: 275px;
      left: 72%;

      @include mobile {
        top: 180px;
      }

      #{$this}-text {
        bottom: calc(100% - 5px);
        right: -30px;
        transform: translateX(50%);

        @include mobile {
          transform: translateX(-5%);
        }
      }
    }

    &:nth-of-type(4) {
      bottom: 270px;
      left: 70%;

      @include mobile {
        bottom: 180px;
      }

      #{$this}-text {
        bottom: calc(100% + 5px);
        right: 0;
        transform: translateX(50%);

        @include mobile {
          transform: translateX(25%);
        }
      }
    }

    &:nth-of-type(5) {
      top: 390px;
      left: 50%;

      @include mobile {
        top: 280px;
        left: 47%;
      }

      #{$this}-line {
        @include mobile {
          width: 50%;
        }
      }

      #{$this}-text {
        top: 100%;
        right: 0;
        transform: translateX(50%);

        @include mobile {
          right: 50%;
          width: 250px;
        }
      }
    }

    &:nth-of-type(6) {
      top: 212px;
      right: 74%;

      @include mobile {
        right: 84%;
        top: 165px;
      }

      #{$this}-line {
        @include mobile {
          width: 160%;
        }
      }

      #{$this}-text {
        top: 100%;
        left: 25px;
        transform: translateX(-50%);

        @include mobile {
          left: 0;
          transform: none;
        }
      }
    }

    &:nth-of-type(7) {
      top: 175px;
      right: 83%;

      @include mobile {
        top: 125px;
        right: 80%;
      }

      #{$this}-text {
        top: calc(100% - 32px);
        left: -35px;
        transform: translateX(-50%);

        @include mobile {
          top: 100%;
          left: 5px;
          transform: translateX(-10%);
        }
      }
    }

    &:nth-of-type(8) {
      top: 135px;
      right: 53%;

      @include mobile {
        top: 95px;
      }

      #{$this}-text {
        bottom: calc(100% + 5px);
        left: 0;
        transform: translateX(-90%);

        @include mobile {
          transform: translateX(-5%);
        }
      }
    }
  }
}
