mixin catalog
  -
    const cardData = [
      {
        img: 'dog1.png',
        title: 'Крем-соболь',
      },
      {
        img: 'dog2.png',
        title: 'Рыжий',
      },
      {
        img: 'dog3.png',
        title: 'Белый',
      },
      {
        img: 'dog4.png',
        title: 'Черный',
      },
      {
        img: 'dog5.png',
        title: 'Лиловый',
      },
      {
        img: 'dog6.png',
        title: 'Пати-колор',
      },
      {
        img: 'dog7.png',
        title: 'Кремовый',
      },
      {
        img: 'dog8.png',
        title: 'Мерле',
      },
      {
        img: 'dog9.png',
        title: 'Рыже-соболинный',
      },
      {
        img: 'dog10.png',
        title: 'Оранж',
      },
      {
        img: 'dog11.png',
        title: 'Коричневый',
      },
      {
        img: 'dog12.png',
        title: 'Черно-подпалый',
      }
    ]

  section.catalog
    .container
      .catalog__container
        each card in cardData
          label
            input.catalog__checkbox(type="radio" name="catalog")
            .catalog__card(data-aos="flip-left")
              .catalog__card-front
                +img(card.img, 'catalog__card-dog')
                .catalog__card-add
                  +svg('more', '30px', '30px', 'catalog__card-add-icon')
              .catalog__card-back
                .catalog__card-content
                  p.catalog__card-title !{card.title}
                  a.btn.catalog__btn.js-open-popup(href="#")
                    span.btn__text Хочу!
