mixin catalog
  -
    const cardData = [
      {
        img: 'dog1.png',
        title: 'Черно-подпалый',
        text1: 'возраст: 2 месяца',
        text2: 'дата рождения: 1.01.2020'
      },
      {
        img: 'dog2.png',
        title: 'Рыжий',
        text1: 'возраст: 2 месяца',
        text2: 'дата рождения: 13.01.2020'
      },
      {
        img: 'dog3.png',
        title: 'Рыжий',
        text1: 'возраст: 2 месяца',
        text2: 'дата рождения: 13.01.2020'
      },
      {
        img: 'dog4.png',
        title: 'Рыжий',
        text1: 'возраст: 2 месяца',
        text2: 'дата рождения: 13.01.2020'
      },
      {
        img: 'dog5.png',
        title: 'Рыжий',
        text1: 'возраст: 2 месяца',
        text2: 'дата рождения: 13.01.2020'
      },
      {
        img: 'dog6.png',
        title: 'Рыжий',
        text1: 'возраст: 2 месяца',
        text2: 'дата рождения: 13.01.2020'
      },
      {
        img: 'dog7.png',
        title: 'Рыжий',
        text1: 'возраст: 2 месяца',
        text2: 'дата рождения: 13.01.2020'
      },
      {
        img: 'dog8.png',
        title: 'Рыжий',
        text1: 'возраст: 2 месяца',
        text2: 'дата рождения: 13.01.2020'
      },
      {
        img: 'dog9.png',
        title: 'Рыжий',
        text1: 'возраст: 2 месяца',
        text2: 'дата рождения: 13.01.2020'
      },
      {
        img: 'dog10.png',
        title: 'Рыжий',
        text1: 'возраст: 2 месяца',
        text2: 'дата рождения: 13.01.2020'
      },
      {
        img: 'dog11.png',
        title: 'Рыжий',
        text1: 'возраст: 2 месяца',
        text2: 'дата рождения: 13.01.2020'
      }
    ]

  section.catalog
    .container
      .catalog__container
        each card in cardData
          label
            input.catalog__checkbox(type="radio" name="catalog")
            .catalog__card(data-aos="flip-left")
              .catalog__card-front
                +img(card.img, 'catalog__card-dog')
                .catalog__card-add
                  +svg('more', '30px', '30px', 'catalog__card-add-icon')
              .catalog__card-back
                .catalog__card-content
                  p.catalog__card-title !{card.title}
                  p.catalog__card-text !{card.text1}
                  p.catalog__card-text !{card.text2}
                  a.btn.catalog__btn.js-open-popup(href="#")
                    span.btn__text Хочу!
