.hero {
  background-image: url($img + 'hero-bg.jpg');
  background-size: cover;
  background-position: center;
  overflow: hidden;

  &__container {
    position: relative;

    @include tablet {
      display: flex;
      flex-direction: column;
      padding-top: 80px;
    }
  }

  &__content {
    padding: 80px 0 72px;
    max-width: 50%;
    position: relative;
    z-index: 2;

    @include tablet {
      max-width: 100%;
      order: 1;
      text-align: center;
      position: static;
      padding-top: 0;
    }

    @include mobile {
      padding: 0 0 20px;
    }
  }

  &__wins {
    display: flex;
    align-items: center;
    max-width: 320px;
    margin-bottom: 40px;

    @include tablet {
      position: absolute;
      top: 20px;
      left: 50%;
      transform: translateX(-50%);
      max-width: 350px;
    }

    @include mobile {
      max-width: 100%;
      width: 100%;
    }
  }

  &__wins-text {
    padding-left: 12px;
    font-size: 16px;
    color: $color-gray;
    font-weight: normal;

    @include tablet {
      font-weight: 600;
    }

    @include mobile {
      font-size: 14px;
      text-align: left;
    }
  }

  &__title {
    font-size: 61px;
    line-height: 1;
    font-weight: bold;
    margin-bottom: 40px;

    @include mobile {
      font-size: 38px;
      margin-bottom: 12px;
    }
  }

  &__desc {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 40px;

    @include mobile {
      font-size: 14px;
      margin-bottom: 24px;
    }
  }

  &__slider {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 60%;
    height: 100%;
    overflow: visible;

    @include tablet {
      position: relative;
      order: 0;
      width: 70%;
      height: auto;
    }

    @include mobile {
      width: 100%;
    }
  }

  &__slider-slide {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    opacity: 0;
    transition: opacity .2s;

    &.swiper-slide-active {
      opacity: 1;
    }
  }

  &__slider-pagination {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    z-index: 2;

    @include mobile {
      display: none;
    }

    .swiper-pagination-bullet {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid $color-white;
      border-radius: 50%;
      width: 18px;
      height: 18px;
      margin: 10px 0;
      cursor: pointer;

      &:after {
        content: '';
        display: block;
        background-color: $color-gray;
        border-radius: 50%;
        width: 10px;
        height: 10px;
        transition: background .2s;
      }

      &-active:after {
        background-color: $color-white;
      }
    }
  }
}
