mixin hero
  section.hero
    .container
      .hero__container
        .hero__content
          .hero__wins
            +img('icons/reward.png', 'hero__wins-icon')
            p.hero__wins-text Наши щенки занимают первые места на конкурсах 2017-2019 годов
          h1.hero__title Щенки породы шпиц
          h2.hero__desc
            | Хотите завести щеночка?
            br
            | Подберем для вас самого лучшего!
          a.btn.btn--border.hero__btn(href="#")
            span.btn__text Хочу щенка!
        .hero__slider.swiper-container
          .hero__slider-wrapper.swiper-wrapper
            .hero__slider-slide.swiper-slide
              +img('slide1.png', 'hero__slider-img')
            .hero__slider-slide.swiper-slide
              +img('slide1.png', 'hero__slider-img')
            .hero__slider-slide.swiper-slide
              +img('slide1.png', 'hero__slider-img')
          .hero__slider-pagination.swiper-pagination
