.advantages {
  padding: 100px 0;

  &__container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
  }

  &__advantage {
    text-align: center;
  }

  &__advantage-text {
    margin: 0;
    margin-top: 12px;
    line-height: 1.6;
  }
}
