mixin reviews
  -
    const reviewData = [
      {
        img: 'review1.jpg',
        title: 'Вы лучшие! спасибо',
        text: 'Наконец-то мечта Софии осуществилась, огромное спасибо за такого очаровашку!',
      },
      {
        img: 'review2.jpg',
        title: 'Вы лучшие! спасибо',
        text: 'Наконец-то мечта Софии осуществилась, огромное спасибо за такого очаровашку!',
      },
      {
        img: 'review3.jpg',
        title: 'Вы лучшие! спасибо',
        text: 'Наконец-то мечта Софии осуществилась, огромное спасибо за такого очаровашку!',
      },
      {
        img: 'review4.jpg',
        title: 'Вы лучшие! спасибо',
        text: 'Наконец-то мечта Софии осуществилась, огромное спасибо за такого очаровашку!',
      },
      {
        img: 'review5.jpg',
        title: 'Вы лучшие! спасибо',
        text: 'Наконец-то мечта Софии осуществилась, огромное спасибо за такого очаровашку!',
      },
      {
        img: 'review6.jpg',
        title: 'Вы лучшие! спасибо',
        text: 'Наконец-то мечта Софии осуществилась, огромное спасибо за такого очаровашку!',
      },
      {
        img: 'review7.jpg',
        title: 'Вы лучшие! спасибо',
        text: 'Наконец-то мечта Софии осуществилась, огромное спасибо за такого очаровашку!',
      }
    ]

  section.reviews
    .container
      h3.reviews__title Отзывы и фото счастливых хозяев
      .reviews__container
        each review in reviewData
          label
            input.reviews__checkbox(type="radio" name="review")
            .reviews__card(data-aos="flip-left")
              .reviews__card-front
                +img(review.img, 'reviews__card-dog')
                .reviews__card-add
                  +img('icons/card_plus.png', 'reviews__card-add-icon')
              .reviews__card-back
                .reviews__card-content
                  p.reviews__card-title !{review.title}
                  p.reviews__card-text !{review.text}
                  a.btn.reviews__btn(href="#")
                    span.btn__text Хочу!
