mixin reviews
  //- -
    //- const reviewData = ['review1.jpg','review2.jpg','review3.jpg','review4.jpg','review5.jpg','review6.jpg','review7.jpg','review8.jpg',]

  section.reviews
    .container
      h3.reviews__title Отзывы и фото счастливых хозяев
      .reviews__slider.swiper-container
        .reviews__slider-wrapper.swiper-wrapper
          - for (var x = 1; x < 36; x++)
            .reviews__slider-slide.swiper-slide
              +img('review' + x + '.png', 'reviews__slider-img')
      .reviews__slider-pagination.swiper-pagination
      .reviews__slider-button.reviews__slider-button-next.swiper-button-next
      .reviews__slider-button.reviews__slider-button-prev.swiper-button-prev
