.callback {
  margin: 72px 0;
  background-image: url('../img/callback-bg.jpg');
  background-size: cover;
  background-position: center center;

  &__container {
    position: relative;
  }

  &__img {
    position: absolute;
    top: calc(50% - 205px);
    left: -120px;
    max-width: 100%;
    width: 630px;
  }

  &__content {
    position: relative;
    margin-left: 45%;
    padding: 72px 0;
  }

  &__title {
    max-width: 380px;
    margin: 0;
    margin-bottom: 28px;
    font-size: 42px;
    font-weight: bold;
  }

  &__desc {
    margin-bottom: 36px;
    font-size: 30px;
    font-weight: bold;
    line-height: 1;
  }

  &__text {
    margin-bottom: 36px;
    color: $color-gray;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.5;
  }

  &__input {
    display: block;
    width: 100%;
    max-width: 450px;
    padding: 24px 12px 24px 80px;
    margin-bottom: 36px;
    border-radius: 6px;
    border: none;
    background-color: #f5eddc;
    background-image: url('../img/icons/input_phone.png');
    background-repeat: no-repeat;
    background-position: 28px center;
    font-size: 20px;
    color: #292421;
    font-weight: bold;

    &:focus {
      outline: none;
    }
  }
}
