.header {
  padding: 16px 0;
  background-color: $color-bg;

  $this: &;

  .container {
    @include mobile {
      max-width: none;
      padding: 0 15px;
    }
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    display: flex;
    align-items: center;

    @include tablet {
      max-width: 40%;
    }

    @include mobile {
      display: none;
    }
  }

  &__logo-img {
    height: 60px;
    margin-right: 10px;
  }

  &__mobile-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
  }

  &__title {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 24px;

    &--mobile {
      display: none;

      @include mobile {
        display: block;
        padding-right: 10px;
        font-size: 10px;
        text-transform: uppercase;
        max-width: 120px;
        min-width: 120px;

      }
    }

    @include tablet {
      font-size: 18px;
      margin-right: 0;
    }

    @include mobile {
      font-size: 14px;
    }
  }

  &__contacts {
    display: flex;
    align-items: center;

    @include mobile {
      justify-content: space-between;
      width: 100%;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    color: $color-white;
    font-size: 22px;
    font-weight: bold;
    margin-right: 32px;
    text-decoration: none;
    transition: color .2s ease-out;

    @include tablet {
      font-size: 16px;
      margin-right: 10px;
    }

    @include mobile {
      justify-content: flex-end;
      font-size: 14px;
    }

    &:hover {
      color: $color-main;

      #{$this}__link-gray {
        color: mix($color-main, $color-gray, 50%)
      }
    }
  }

  &__icon {
    @include mobile {
      display: none;
    }
  }

  &__link-gray {
    margin: 0 8px;
    color: $color-gray;
    transition: color .3s ease-out;
  }

  &__link-callback {
    @include mobile {
      display: none;
    }
  }

  &__mobile-link {
    display: none;

    @include mobile {
      position: relative;
      display: block;
      min-width: 20px;
      max-width: 20px;
      height: 20px;
      background-color: $color-main;
      background-image: url('../img/icons/phone-mob.png');
      background-size: 50%;
      background-repeat: no-repeat;
      background-position: center center;
      border-radius: 100%;
      margin: 0;

      &:before,
      &:after {
        content: "";
        display: block;
        position: absolute;
        border: 1px solid $color-main;
        left: -10px;
        right: -10px;
        top: -10px;
        bottom: -10px;
        border-radius: 50%;
        animation: pulse 1.5s linear infinite;
        opacity: 0;
        backface-visibility: hidden;
      }

      &:after{
        animation-delay: .5s;
        width: auto;
        height: auto;
        background: none;
      }
    }
  }
}

@keyframes pulse
{
	0%
	{
		transform: scale(0.5);
		opacity: 0;
	}
	50%
	{
		opacity: 1;
	}
	100%
	{
		transform: scale(1.2);
		opacity: 0;
	}
}
