mixin header
  header.header
    .container
      .header__container
        .header__logo
          p.header__title Дом Шпицев «MiniMi»
          p.header__sub лучшие малыши России
        .header__contacts
          a.header__link(href="tel:+79175357876")
            +img('icons/phone.png', 'header__icon')
            span.header__link-gray +7 (917)
            | 535-78-76
          a.link(href="#")
            span.link__text Заказать обратный звонок
