.header {
  padding: 16px 0;
  background-color: $color-bg;

  $this: &;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    display: flex;
    align-items: center;

    @include tablet {
      max-width: 40%;
    }

    @include mobile {
      max-width: none;
    }
  }

  &__logo-img {
    height: 60px;
    margin-right: 10px;
  }

  &__title {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 24px;

    @include tablet {
      font-size: 18px;
      margin-right: 0;
    }

    @include mobile {
      font-size: 14px;
    }
  }

  &__contacts {
    display: flex;
    align-items: center;
  }

  &__link {
    display: flex;
    align-items: center;
    color: $color-white;
    font-size: 22px;
    font-weight: bold;
    margin-right: 32px;
    text-decoration: none;
    transition: color .2s ease-out;

    @include tablet {
      font-size: 16px;
      margin-right: 10px;
    }

    @include mobile {
      display: block;
      width: 46px;
      height: 46px;
      background-color: $color-main;
      background-image: url('../img/icons/phone-mob.png');
      background-size: 50%;
      background-repeat: no-repeat;
      background-position: center center;
      border-radius: 100%;
      margin: 0;

      span {
        display: none;
      }
    }

    &:hover {
      color: $color-main;

      #{$this}__link-gray {
        color: mix($color-main, $color-gray, 50%)
      }
    }
  }

  &__icon {
    @include mobile {
      display: none;
    }
  }

  &__link-gray {
    margin: 0 8px;
    color: $color-gray;
    transition: color .3s ease-out;
  }

  &__link-callback {
    @include mobile {
      display: none;
    }
  }
}
