mixin footer
  footer.footer
    .container
      .footer__content
        p.footer__text
          | Мы любим и ценим породу Шпиц!
          br
          | Знаем о ней всё, даже больше.
          br
          | Хотим, чтобы наши малыши несли прекрасное в этот мир.
          br
          | Мы поможем найти именно Вашего маленького друга!
        a.btn.footer__btn.js-open-popup(href="#")
          span.btn__text Хочу щенка!
