.footer {
  background-image: url('../img/footer_bg.png');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top center;
  padding: 40px 0 180px;

  @include tablet {
    padding: 40px 0 100px;
    background-size: cover;
    background-position: center top;
  }

  &__content {
    position: relative;
    text-align: center;
    padding: 40px;
    max-width: 859px;
    margin: 0 auto;

    @include mobile {
      padding: 0;
    }
  }

  &__title {
    font-size: 30px;
    font-weight: 600;
    line-height: 1.5;

    @include mobile {
      font-size: 28px;
    }
  }

  &__text {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 30px;

    @include mobile {
      font-size: 14px;
    }
  }

  &__btn {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 50%);
    box-shadow: 0px 8px 13px 0px rgba(0, 0, 0, 0.46);

    @include tablet {
      position: relative;
      left: 0;
      transform: none;
    }

    &:before {
      transform: none;
    }
  }
}
