mixin footer
  footer.footer
    .container
      .footer__content
        p.footer__title Мы любим и ценим породу Шпиц!
        p.footer__text
          |
          br
          | Знаем о ней всё, даже больше. Хотим, чтобы наши малыши несли
          br
          |  прекрасное в этот мир.
          br
          | Мы поможем найти именно Вашего маленького друга!
        a.btn.footer__btn.js-open-popup(href="#")
          span.btn__text Хочу щенка!
