- var $media = './source/'
- var $img = $media + 'img/'


mixin img(name, className)
  img(src= $img + name, class= className, alt= name)

mixin svg(id, widthSVG, heightSVG, className)
  svg(class= className height=heightSVG width=widthSVG)
    use(xlink:href="./source/img/sprite.svg#" + id)
