include components/common/mixin
include components/common/layout

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Minimi
    link(rel="stylesheet", href="./source/style/style.css")
  body
    +header
    +hero
    +advantages
    +catalog
    +callback
    +parameters
    +documents
    +reviews
    +help


    script(src="./source/js/script.js")
